:root {
    --amarelo: #f6b930;
    --azulEscuro: #033a6b;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
}

header {
    text-align: center;
    background-color: var(--azulEscuro);
    color: var(--amarelo);
    padding: 1rem 0;
}

.container {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.labelDiv {
    display: flex;
    width: 50vw;
}

label {
    width: 40%;
    border-radius: 0 8px 8px 0px;
    box-shadow: 5px 5px 5px #88888830;
    text-align: center;
    font-weight: 600;
}

.results {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    margin-bottom: 35px;
}

input {
    padding: 5px;
    outline: none;
    width: 100%;
    border: 1px solid gray;
    border-radius: 8px 0 0 8px;
    outline: none;
    box-shadow: 5px 5px 5px #88888830;

}

label, .send {
    padding: 0.5rem;
    background-color: var(--azulEscuro);
    color: var(--amarelo);
    border: 2px solid var(--azulEscuro) 
}


.send {
    width: 15%;
    border: 2px solid var(--azulEscuro);
    margin-bottom: 1rem;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 5px 5px 5px #88888830;
}

.button:hover {
    background-color: rgb(5, 172, 5);
    border-color: rgb(5, 172, 5) ;
    cursor: pointer;
}

.chart-container {
    margin: 0 auto;
    width: 55vw;
    background-color: white;
}

.aumentou {
    background-color: rgb(247, 193, 193);
    padding: 0.5rem  3rem;
}

.diminuiu {
    background-color: greenyellow;
    padding: 0.5rem 3rem;
}

.result {
    border-radius: 15px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--azulEscuro);
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    color: var(--amarelo);
}

.iconContato {
    width: 50px;
}

@media screen and (max-width: 768px) {
    .labelDiv{
        width: 100vw;
        padding: 0 2rem;
    }

    .send {
        width: 30%;
        padding: 0.8rem;
        font-size: 1.05rem;
    }

    .chart-container{
        width: 100vw;
    }

    #myChart {
        width: 100%;
    }
}
